<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.WorksListMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.pojo.WorksList">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createBy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createAt" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="updateBy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="updateAt" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, state, createBy, createAt, updateBy, updateAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from workslist
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from workslist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jnshu.pojo.WorksList">
    insert into workslist (id, name, state, 
      createBy, createAt, updateBy, 
      updateAt)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{createby,jdbcType=VARCHAR}, #{createat,jdbcType=BIGINT}, #{updateby,jdbcType=VARCHAR}, 
      #{updateat,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jnshu.pojo.WorksList">
    insert into workslist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="createat != null">
        createAt,
      </if>
      <if test="updateby != null">
        updateBy,
      </if>
      <if test="updateat != null">
        updateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=BIGINT},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.pojo.WorksList">
    update workslist
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createat != null">
        createAt = #{createat,jdbcType=BIGINT},
      </if>
      <if test="updateby != null">
        updateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateat != null">
        updateAt = #{updateat,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnshu.pojo.WorksList">
    update workslist
    set name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      createBy = #{createby,jdbcType=VARCHAR},
      createAt = #{createat,jdbcType=BIGINT},
      updateBy = #{updateby,jdbcType=VARCHAR},
      updateAt = #{updateat,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectWorksList" resultType="WorksList" parameterType="WorksList">
  select * from workslist
  </select>
</mapper>